<h1>This is the secret page</h1>

<p>You found me nyanya</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2aTCkzTtQ_ilCT3O9oMfvCFOZT91f5IEaf-LZqUGr9HoGt4Qk">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>