<% include partials/headers.ejs %>

<h1>You fell in the love with: <%= thingVar %> </h1>


<% if(thingVar.toLowerCase()==="rusty"){ %>
    <p>Good Choice! Rusy is the best</p>
<% } %>


<p>P.S. This is the love.ejs File</p>

<% include partials/footer.ejs %>